<section class="property-binding">
  <article>
    <h3>Interpolation / interpolação</h3>
    <p>String renderizada com interpolação {{ url }}</p>
    <p>Soma de 1 + 1 = {{1 + 1 }}</p>
    <p>Soma de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Soma de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
    <h3>Property binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
  </article>
</section>
