<div class="container">
  <br>
  <h2>Styles com property binding (style binding)</h2>
  <button class="btn" [style.backgroundColor]="ativo ? 'teal':'tomato'" [style.color]="ativo ? 'fuchsia':'cyan'"
    [style.fontWeight]="ativo ? 'bold': 'normal'" [style.fontSize]="tamanhoFonte + 'px'" (click)="mudarAtivo()">
    Mudar atributo 'ativo'
  </button>
  <br><br>
  <h2>Usando ngStyle</h2>
  <button class="btn" [ngStyle]="{
    'backgroundColor': (ativo ? 'orange':'olive'),
    'color': (ativo? 'green':'pink'),
    'fontWeight': (ativo? 'bolder':'normal'),
    'fontSize': tamanhoFonte + 'px'
  }"
    (click)="mudarAtivo()">
    mudar ativo
  </button>
  <br><br>
  <input type="text" [(ngModel)]="tamanhoFonte">
</div>
