<!-- 
<p fundoAmarelo>
  Texto com fundo amarelo.
</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<p [highlight]="'tomato'" [defaultColor]="'teal'">
  Texto com highlight com cores customizadas.
</p>
-->
<h5>Diretiva Estrutura customizada - ngElse</h5>

<ng-container *ngIf="mostrarCursos; else semCurso">
  Lisgta de cursos aqui
</ng-container>
<ng-template #semCurso>
  Não existem cursos a serem listados
</ng-template>

<br>
<button (click)="onMostrarCursos()">
  Mostrar ou esconder cursos
</button>